<div class="container">
  <div>
    <div class="moedas">
      <span>Moedas investidas: 2.000,00</span>
      <span>Total de moedas: 3.000,00</span>
      <span>Moedas disponíveis: 300,00</span>
    </div>
    <button class="investimento">
      <img [src]="URL_INVESTIMENTO" alt="Saco de dinheiro">
      <span>Investir</span>
    </button>
  </div>
  <div>
    <button class="historico">
      <img [src]="URL_HISTORICO" alt="Folha de papiro">
      <span>Histórico</span>
    </button>
    <button class="questoes">
      <img [src]="URL_QUESTOES" class="img-questoes" alt="Questões e lápis">
      <img [src]="URL_COIN" class="img-coins" alt="Moedas">
      <span>Responder questões e ganhar moedas</span>
    </button>
  </div>
</div>
