@import 'src/sass/_placeholders';
@import 'src/sass/_variables';

$responsivo: responsivo;

$width-array: 64 90 120 160 200 $responsivo;

button {
    width: 100%;
    height: 42px;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;

    @each $width in $width-array {
        &.width-#{$width} {
            @if $width == $responsivo {
                width: 100%;
            } @else {
                width: #{$width}px;
            }
        }
    }

    &:not(:disabled) {
        &.verde {
            @extend %font-semibold-14;
            color: #ffffff;
            background: $botao;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.12);

            &:hover,
            &:focus {
                border: 2px solid $verde;
                box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
            }

            &:focus {
                background: $verde;
            }
        }

        &.branco {
            @extend %font-semibold-14;
            @extend %texto-escuro;
            background: #ffffff;
            border: 1px solid $cinza-01;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

            &:hover,
            &:focus {
                border: 2px solid;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
            }

            &:hover {
                border-color: #becfd7;
            }

            &:focus {
                border-color: $texto-claro;
            }
        }
    }

    &:disabled {
        @extend %font-semibold-14;
        background: $cinza-01 !important;
        color: #ffffff !important;
        cursor: not-allowed;
    }
}
