/******** CORES ****************/
$texto-escuro: #243a44;
$texto-claro: #81959e;
$cinza-01: #dfdfdf;
$cinza-02: #e6eaec;
$background: #eef2f5;
$link: #1573ff;
$botao: #25d580;
$verde: #0db162;
$tema-azul-01: #4695e1;
$tema-branco-01: #ffffff;
$vermelho: #e95050;
$azul-header: #1861a7;
$laranja: #ff8604;
$roxo-padrao: #898DDC
