@import 'src/sass/_placeholders';

.container {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  align-items: stretch;
  padding: 20px;


  .questao {
    background-color: #4ce455;
    flex-grow: 1;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    box-shadow: 2px 2px 10px #4b4141;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 10px 0px;
    border: transparent;

    span {
      color: white;
      @extend %font-bold-18;
    }

    &:first-of-type {
      background-color: #ff3838;
    }

    &:nth-last-child(3) {
      background-color: #6a6af1;
    }

    &:nth-last-child(1), &:nth-last-child(2) {
      background-color: grey;

      &:hover {
        cursor: auto;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}
