@import 'src/sass/_placeholders';

:host {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;

  h1, a {
    display: block;
    margin: 0px auto;
  }

  nz-form-item, a, h1 {
    margin-bottom: 20px;
  }

  h1 {
    color: $laranja;
    font-weight: bold;
    font-size: 35px;
  }
}
