@import 'variables';
@import 'placeholders';

span {
    display: block;
    background-color: $texto-claro;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: $cinza-02;
    overflow: hidden;

    svg {
        border-radius: 50%;
        width: 30px;
        height: 45px;
    }

    &:hover {
        cursor: pointer;
        border: 2px solid $tema-azul-01;

        svg {
            height: 41px;
        }
    }
}

ul {
    border: 1px solid $cinza-01;
    width: 180px !important;
    height: 200px !important;
    background: white;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
    padding: 16px 12px;

    li {
        @extend %font-normal-14;
        @extend %texto-escuro;
        padding: 0px;
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0px;
        }
    }

    nz-divider {
        margin: 0px 0px 20px;
        background-color: $cinza-01;
    }
}

// .menu-acoes-usuario {
//     button {
//         background: transparent;
//         border: none;
//     }

//     ul,
//     li,
//     div {
//         background: #174d82;
//         color: white;
//     }
// }

// .menu-acoes-usuario-itens {
//     background: #174d82 !important;
//     color: white;

//     div {
//         background: #174d82 !important;
//         color: white;
//     }
//     ul {
//         background: #174d82 !important;
//         color: white;
//     }
//     li {
//         background: #174d82 !important;
//         color: white;
//     }
// }

// .botao-user {
//     margin: 0px 10px 12px 0px;
//     background: #d9dad9;
// }

// .container-dropdown {
//     padding: 20px 20px;

//     border: 1px solid #e6e6e6;
//     background: #fff;
//     text-align: left;
//     vertical-align: middle;
//     @media (min-width: 500px) {
//         width: 400px;
//     }

//     .avatar {
//         position: relative;
//         display: inline-block;

//         button,
//         nz-avatar {
//             border: 2px solid #cecece;
//             background: #ececec;
//         }

//         button {
//             position: absolute;
//             bottom: 0;
//             right: 0;
//         }
//     }

//     .info {
//         display: flex;
//         flex-direction: column;

//         h1,
//         h4 {
//             text-transform: lowercase;
//             display: inline-block;
//         }

//         h1,
//         h4::first-line {
//             text-transform: capitalize;
//         }
//     }

//     .inlineA {
//         vertical-align: middle;
//         padding-bottom: 10px;
//         font-weight: bold;
//         position: relative;
//         border-width: 2px;
//         width: 20%;
//         left: 0px;
//         float: left;
//     }
//     .inlineB {
//         vertical-align: middle;
//         padding: 2px 2px;
//         position: relative;
//         border-width: 2px;
//         width: 80%;
//         float: left;
//     }

//     .group:before,
//     .group:after {
//         content: '';
//         display: table;
//     }

//     .group:after {
//         clear: both;
//     }
//     .group {
//         zoom: 1; /* For IE 6/7 (trigger hasLayout) */
//     }

//     .botoes {
//         display: flex;
//         flex-direction: column;
//         align-items: center;

//         button {
//             width: 220px;
//         }
//     }
// }
