@import 'src/sass/_placeholders';

.container {
  display: flex;
  justify-content: flex-end;
  padding: 180px 180px 0;

  div {
    width: 300px;
    height: min-content;
    padding: 17px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: space-between;
    position: relative;

    span {
      @extend %font-normal-14;
      font-size: 16px;
      text-align: justify;
      text-indent: 40px;

    }

    &:after {
      content: "";
      width: 15px;
      height: 0;
      position: absolute;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 40px solid white;
      top: 82%;
      left: 92%;
      transform: rotate(0.89turn);
    }
  }
  img {
    width: 300px;
    transform: rotate(0.1turn);
  }
}
