@import 'src/sass/_placeholders';

:host {
  display: flex;
  justify-content: flex-end;
  padding: 10px;

  nz-segmented {
    display: flex;
    height: 100%;
    background-color: transparent !important;

    & > div {
      color: red;
    }
  }

  span {
    @extend %font-normal-14;
    display: block;
    box-sizing: content-box;
    margin: auto 0px;
    padding: 5px;
    color: white;
    border: 1px solid transparent;
    &:hover {
      cursor: pointer;
      border-color:white;
      border-radius: 2px;
    }
  }
}

nz-list nz-list-item {
  cursor: pointer;

  &:first-of-type {
    padding-top: 0px;
  }

  &:last-of-type {
    padding-bottom: 0px;
  }
}
