<nz-card
  nzHoverable
  [nzCover]="coverTemplate"
  [nzActions]="[tplSimular, tplSobre, tplComprar, tplVender]">

  <ng-template #coverTemplate>
    <img [src]="investimento.imagem" />
  </ng-template>

  <ng-template #tplSimular>
    <div class="cardButton" nz-card-grid [ngStyle]="gridStyle" (click)="cardClick()">Simular</div>
  </ng-template>
  <ng-template #tplSobre>
    <div class="cardButton" nz-card-grid [ngStyle]="gridStyle" (click)="cardClick()">Sobre</div>
  </ng-template>
  <ng-template #tplComprar>
    <div class="cardButton" nz-card-grid [ngStyle]="gridStyle" (click)="cardClick()">Comprar</div>
  </ng-template>
  <ng-template #tplVender>
    <div class="cardButton" nz-card-grid [ngStyle]="gridStyle" (click)="cardClick()">Vender</div>
  </ng-template>
</nz-card>



