@import 'src/sass/_placeholders';

nz-card {
  width: 250px;
  padding: 10px 10px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;

  img {
    height: 100px;
    width: 100px;
  }
}
