.container {
    height: 300px;
    margin-top: 10px;
    @media (min-width: 500px) {
        width: 400px;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .forcaSenhaContainer {
            width: 260px;
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            height: 22px;

            .forcaSenha {
                width: 24px;
                height: 4px;
                margin-right: 4px;
            }

            .forcaSenhaLabel {
                font-size: 14px;
                margin-left: 10px;
            }
        }
    }

    .titulo {
        h2 {
            text-align: center;
            color: #174d82;
        }
        h4 {
            text-align: center;
            color: #174d82;
        }
    }

    .confirmar {
        box-shadow: 0 0 4px 1px #ddd;
        height: 40px;
        border-radius: 8px;
        background: #2ecc71;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }
}

nz-form-item {
    width: 100%;
    display: flex;
    justify-content: center;
}

.label {
    display: flex;
    flex-direction: column;
}

.disable {
    background: #72cf99 !important;
}
