<div class="container">
    <div class="titulo">
        <h2>{{ALTERAR_SENHA}}</h2>
    </div>
    <br>
    <div>
        <form nz-form [formGroup]="formTrocaSenha" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-control>
                    <ac-input-text label="Senha atual" formControlName="senhaAtual" [placeholder]="SENHA_ATUAL"
                        [focused]="true" [tipo]="_inputTextTipoEnum.SENHA">
                    </ac-input-text>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <ac-input-text label="Nova senha" formControlName="novaSenha" [placeholder]="NOVA_SENHA"
                        [tipo]="_inputTextTipoEnum.SENHA">
                    </ac-input-text>
                </nz-form-control>
            </nz-form-item>

            <div class="forcaSenhaContainer">
                <div class="forcaSenha" [style]="background[0]"></div>
                <div class="forcaSenha" [style]="background[1]"></div>
                <div class="forcaSenha" [style]="background[2]"></div>
                <div class="forcaSenha" [style]="background[3]"></div>
                <div class="forcaSenhaLabel" [style]="background[4]">{{background[5]}}</div>
            </div>
        </form>
    </div>
    <div>
        <nz-form-item>
            <button [nzLoading]="loading" [ngClass]="loading || formTrocaSenha.invalid ? 'disable' : ''"
                class="confirmar" nz-button data-cy="botao-trocar-senha" [disabled]="!formTrocaSenha.valid"
                (click)="showConfirm()">
                {{CONFIRMAR}}
            </button>
        </nz-form-item>
    </div>
</div>
