
  <div class="container">
    <button *ngFor="let listaResposta of listaRespostas"
    (click)="clickPergunta(listaResposta.codigoPergunta)"
    class="questao" [class.errou]="listaResposta.situacao == situacaoPerguntaEnum.ERROU"
    [class.acertou]="listaResposta.situacao == situacaoPerguntaEnum.ACERTOU"
    [class.aberto]="listaResposta.situacao == situacaoPerguntaEnum.EM_ABERTO"
    [class.bloqueado]="listaResposta.situacao == situacaoPerguntaEnum.BLOQUEADO">
      <span>
        Questão {{ listaResposta.codigoPergunta }}
      </span>
    </button>
  </div>
