@import 'src/sass/_placeholders';
@import 'src/sass/_variables';

$responsivo: responsivo;

$width-array: 90 160 230 300 360 $responsivo;

label {
  @extend %font-normal-12;
  @extend %texto-claro;
  margin-bottom: 3px !important;
  display: block;

  &.desabilitado {
    opacity: 0.4;
  }
}

nz-date-picker {
  border: 2px solid $cinza-02;
  border-radius: 5px !important;
  padding: 9px 12px;
  box-shadow: none !important;
  height: 39px;

  @each $width in $width-array {
    &.width-#{$width} {
      @if $width==$responsivo {
        width: 100%;
      } @else {
        width: #{$width}px;
      }
    }
  }

  &:hover {
    border-color: $cinza-01;
  }

  &.obrigatorio {
    border-left: 5px solid $roxo-padrao !important;
  }

  &[nzdisabled=true] {
    background: $cinza-02;
    border-color: $cinza-02;
    opacity: 0.4;
  }

  &[ng-reflect-nz-auto-focus=true] {
    border-color: $tema-branco-01;
  }
}
