@import 'src/sass/_placeholders';

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  height: 100%;

  p {
    text-indent: 40px;
    text-align: justify;
  }

  .conceito {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: space-between;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    height: auto;
    position: relative;

    &:after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      /*Faz seta "apontar para baixo. Definir o valor como 'top' fará ela "apontar para cima" */
      /*Aqui entra a cor da "aba" do balão */
      border-top: 20px solid white;
      top: 100%; /*localização. Experimente alterar para 'bottom'*/
      left: 48%;
    }

    .explicacao {
      width: 48%;

      p {
        margin-bottom: 0px;
      }
    }
    .questao {
      width: 48%;

      nz-radio-group {
        display: flex;
        flex-direction: column;
        font-size: 14px;

        div {
          display: flex;

          label {
            margin-bottom: 10px;
            width: 100%;
          }

          & > span {
            margin-top: 5px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

  }
  .inferior {
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-between;
    & > img {
      width: 200px;
    }

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;
      button {
        background-color: transparent;
        color: white;
        font-weight: bold;
        font-size: 16px;
        border: none;
        border-radius: 10px;
        padding: 0px 15px 0px 0px;

        &:hover {
          cursor: pointer;
          background-color: white;
          color: black;
        }

        &:disabled {
          cursor: auto;
          background-color: transparent;
          color: white;
          opacity: 0.8;
        }
      }
      img {
        width: 100px;
      }
    }
  }
}
