<div class="container">
  <div class="conceito">
    <div class="explicacao" [innerHTML]="perguntaResposta?.pergunta?.explicacao"></div>
    <div class="questao">
      <div [innerHTML]="perguntaResposta?.pergunta?.descricao"></div>

      <nz-divider></nz-divider>
      <nz-radio-group [(ngModel)]="alternativaSelecionada" (ngModelChange)="changeAlternativa()">
        <div *ngFor="let alternativa of perguntaResposta?.pergunta?.alternativas">
          <label #label nz-radio [nzValue]="alternativa.id" [nzDisabled]="this.desabilitarAlternativa.includes(alternativa.id)">
            {{ alternativa.descricao }}
          </label>

          <span nz-icon nzType="question-circle" nzTheme="twotone" nzTwotoneColor="#2008B3"
            [style.display]="label.nzDisabled? 'block' : 'none'"
            (click)="abrirPopup(alternativa)"></span>
        </div>
      </nz-radio-group>
    </div>
  </div>
  <div class="inferior">
    <div>
      <button (click)="eventHistoricoClick.emit()"
        [style.display]="perguntaResposta?.pergunta?.id == 1 && perguntaResposta?.respostas?.length == 0 ? 'none' : 'block'">
        <img [src]="URL_COMETA">
        <span>Histórico de respostas</span>
      </button>
    </div>
    <img [src]="URL_DOLLAR_ASTRONAUTA" alt="Astronauta contando dolar">
    <div>
      <button [disabled]="desabilitarResponder" (click)="responder()">
        <img [src]="URL_TERRA">
        <span>Responder</span>
      </button>
      <button [disabled]="desabilitarProximo" (click)="atualizar()">
        <img [src]="URL_LUA">
        <span>Próxima</span>
      </button>
    </div>
  </div>
</div>
