@import 'src/sass/_placeholders';

nz-header {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  height: 50px;

  span {
    @extend %font-normal-14;
    display: block;
    box-sizing: content-box;
    margin: auto 0px;
    padding: 5px;
    color: white;
    &:hover {
      cursor: pointer;
      border: 1px solid white;
      border-radius: 2px;
    }
  }
}

nz-layout, nz-content, router-outlet, nz-content > * {
  height: 100%;
  width: 100%;
}

nz-content {
  min-height: 663px;
}

nz-layout {
  background: #5e5eb9c7 url('../../../../../assets/universo.jpg') repeat fixed center;
  background-size: cover;
}

