@import 'src/sass/_placeholders';

:host {
  display: block;
  height: 100%;
  width: 100%;
  min-width: 1366px;
}

nz-header {
  background-color: transparent;
  display: block;
  padding: 0 !important;
  height: auto;

  .formulario {
    position: fixed;
    width: 65px;
    height: 65px;
    bottom: 20px;
    right: 10px;
    text-align: center;
    font-size: 40px;
    z-index: 1000;
  }
}

nz-content {
  padding: 0 20px;
  min-height: 610px;
}

nz-layout, nz-content, router-outlet, nz-content > * {
  height: 100%;
  width: 100%;
}

nz-layout {
  overflow-x: hidden;
}


nz-layout {
  background: #5e5eb9c7 url('../../../../../assets/universo.jpg') repeat fixed center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}





