form {
    display: flex;
    div {
        width: 320px;

        nz-form-item {
            margin-bottom: 24px;

            &:last-of-type {
                margin-bottom: 0px;
            }
        }
    }

    ly-img-cropper {
        width: 144px;
        height: 144px;
        border: 1px solid red;
        border-radius: 100%;
        margin: 0px 0px 0px auto;
    }
}
