@import 'variables';
@import 'placeholders';

.notificacoes {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;

    .rolagem {
        flex-grow: 1;
        overflow-y: scroll;

        nz-list-item {
            border: 1px solid red;
            justify-content: normal;
            width: 312px;
            height: 53px;

            .notificacao {
                display: flex;

                nz-avatar {
                    width: 48px;
                    height: 48px;
                    border-radius: 100%;
                    margin-right: 12px;
                    border: 1px solid red;
                }

                .interna {
                    width: 224px;
                    height: 53px;
                    border: 1px solid red;

                    span {
                        @extend %font-medium-12;
                        @extend %texto-claro;
                        border: 1px solid red;
                        margin-bottom: 4px;
                        display: block;
                    }

                    h1 {
                        @extend %font-semibold-14;
                        @extend %texto-escuro;
                        height: 31px;
                        border: 1px solid red;
                    }
                }

                sup {
                    width: 16px;
                    height: 16px;
                    border-radius: 100%;
                    top: 0px;
                    right: -10px;
                    background-color: red;
                }
            }
        }

        nz-divider:last-of-type {
            display: none;
        }
    }

    .botoes {
        flex-basis: 72px;
        padding: 24px 0px;

        a {
            @extend %link;
            @extend %font-normal-13;
            display: inline-block;

            &:last-of-type {
                margin-left: 53px;
            }
        }
    }
}
