<div class="notificacoes">
    <div class="rolagem">
        <nz-list nzItemLayout="horizontal" [nzLoading]="false">
            <ng-container *ngFor="let item of notificacoes; let i = index">
                <nz-list-item nz-tooltip [nzTooltipTitle]="item.descricao">
                    <div class="notificacao">
                        <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png">
                        </nz-avatar>
                        <div class="interna">
                            <span>{{i}}</span>
                            <h1>Texto</h1>
                        </div>

                        <sup></sup>
                    </div>
                </nz-list-item>
                <nz-divider></nz-divider>
            </ng-container>
            <ng-container *ngIf="notificacoes != undefined">
                <nz-list-empty *ngIf="notificacoes.length === 0" [nzNoResult]="contentTpl"></nz-list-empty>
                <ng-template #contentTpl>
                    <nz-empty nzNotFoundImage="simple" [nzNotFoundContent]="contentText"></nz-empty>
                    <ng-template #contentText>
                        <span> {{NAO_HA_NOTIFICACAO}}</span>
                    </ng-template>
                </ng-template>
            </ng-container>
        </nz-list>
    </div>

    <div class="botoes">
        <a>Marcar todas como lidas</a>

        <a>Mais notificações</a>
    </div>
</div>
