
.body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  min-width: 464px;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #575A96;
  border-radius: 10px;


  .titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 62px;

    span {
      margin-bottom: 10px;
      width: 150px;
      height: 15px;
      justify-content: center;
    }

    h2, span {
      display: flex;
      align-items: center;
      font-size: 15px;
    }

    h2 {
      width: 94px;
      height: 32px;
      border: 2px solid #0FEB25;
      border-radius: 40px;
      margin-bottom: 0px;
      justify-content: center;
    }
  }
}
